@charset "utf-8";
/* CSS Document */
div.main{
	min-height:300px;
}
div.thumbnail{
	min-height:360px;
}

img:after {
  content: "";
  display: block;
   height: 175px;
}	
p.channel_info{
	max-height:35px;
	min-height:16px;
	
}
p.publish_key{
	white-space:normal;
	word-break:break-all;
	word-wrap:break-word ;
	
}